{% extends "base.html" %}

{% block aside %}
<aside>
    <div>
        <ul class="social">
            <li><a class="sc-soundcloud"
                   href="https://soundcloud.com/danielpetry" target="_blank"><i
                                                             class="fa
                                                             fa-soundcloud"></i></a></li>
            <li><a class="sc-mixcloud" href="https://www.mixcloud.com/"
                                       target="_blank"><i class="fa fa-mixcloud"></i></a></li>
            <li><a class="sc-github" href="https://github.com/danpetry" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
            <li><a class="sc-resident-advisor"
                   href="https://www.residentadvisor.net/profile/danielpetry/contrib"
                   target="_blank"><img  src="{{ SITEURL
                   }}/theme/img/resident-advisor-logo-white-only.png"/></a></li>
        </ul>
    </div>
</aside>
{% endblock %}
