{% extends "base.html" %}

{% block title %} &ndash; {{ page.title }}{% endblock %}

{% block aside %}
<aside class="page">
    <div>
        <ul class="social">
            <li><a class="sc-soundcloud"
                   href="https://soundcloud.com/danielpetry" target="_blank"><i
                                                             class="fa
                                                             fa-soundcloud"></i></a></li>
            <li><a class="sc-mixcloud" href="https://www.mixcloud.com/danielpetry"
                                       target="_blank"><i class="fa fa-mixcloud"></i></a></li>
            <li><a class="sc-github" href="https://github.com/danpetry" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
        </ul>
    </div>
</aside>
{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1 id="{{ page.slug }}">{{ page.title }}</h1>
  </header>
  <div>
    {% block before_content %}{% endblock %}
    {% block page_content %}{{ page.content }}{% endblock %}
    {% block after_content %}{% endblock %}
    {% if page.category != "pages" %}
      <a href="{{ SITEURL }}/category/{{ page.category }}.html">Diary</a>
    {% endif %}
  </div>
</article>
{% endblock %}
